body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.intro {
  width: 30%;
  margin: 0 auto 0;
}

.love_code {
  width: 30%;
  margin: 0 auto 1.6em auto;
}
.middle-container {
  margin: 0 auto 1.6em auto;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 50px auto 50px auto;
  width: 5%;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-style: 2.5rem;
  font-weight: normal;
}
h3 {
  font-family: 'Montserrat' sans-serif;
  color:#66BFBF;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

p {
  line-height: 2;
}


.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}
.bottom-container {
  background-color: #87CEEB;
  padding: 50px 0 20px;
  height: 100px;
}
.skill-pic {
  width: 40%;
  float: left;
  margin-right: 40px;
}
.web-pic {
  width: 50%;
  float: right;
  margin-right: 2.5em;
}
.bottom-cloud {
  position: absolute;
  right: 18.75em;
  top: 3.125em;
  bottom: 2.5em;
}
.top-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
